---
layout: default
---

<!-- Don't show pagination bar in homepage -->
{% if paginator.page > 1 %}

	<!-- Include pagination bar -->
	{% include pagination.html section="top" %}

{% endif %}

<!-- Loop for posts by paginator -->
{% for post in paginator.posts %}

	<!-- Article -->
	<article>

		<!-- Article title -->
		<a href="{{ site.baseurl }}{{ post.url }}" class="h1">{{ post.title }}</a>

			<!-- If article has a cover photo -->
			{% if post.coverPhoto %}

				<!-- Article image with aspect ratio -->
				<a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
					<span class="ar-content" style="background-image: url({{ post.coverPhoto }});"></span>
				</a><!-- .ar-container -->

			{% endif %}

		<!-- Article pre description -->
		<section class="max-height">{{ post.content | strip_html | slice: 0, 200 }}</section>

		<!-- Article date & article continue reading button container -->
		<div class="article__bottom">

			<!-- Article date -->
			<span class="article__date">
				{% if site.lang == "pt-br" %}
					{% assign m = post.date | date: "%-m" %}
					{{ post.date | date: "%-d" }}
					{% case m %}
						{% when "1" %}JANEIRO
						{% when "2" %}FEVEREIRO
						{% when "3" %}MARÇO
						{% when "4" %}ABRIL
						{% when "5" %}MAIO
						{% when "6" %}JUNHO
						{% when "7" %}JULHO
						{% when "8" %}AGOSTO
						{% when "9" %}SETEMBRO
						{% when "10" %}OUTUBRO
						{% when "11" %}NOVEMBRO
						{% when "12" %}DEZEMBRO
					{% endcase %}
					{{ post.date | date: "%Y" }}
				{% else %}
					{{ post.date | date_to_long_string | upcase }}
				{% endif %}
			</span>

			<!-- Article continue reading button -->
			<a class="article__button" href="{{ site.baseurl }}{{ post.url }}">{% if site.lang == "pt-br" %}LEIA MAIS{% else %}CONTINUE READING{% endif %}</a>

		</div><!-- .article__bottom -->

	</article><!-- article -->

{% endfor %}

<!-- Include pagination bar -->
{% include pagination.html section="bottom" %}
