<footer class="has-background-black footer">
  <div class="section">
    <div class="container">
      <hr>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <a class="title is-4" href="#">
              {{ site.data.footer.title }}
            </a>
          </div>
        </div>
        <div class="level-right">
          {% for item in site.data.navigation %}
          <a href="{{ site.baseurl }}{{ item.link }}" class="level-item">
            {{ item.name }}
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="buttons">
            {% for item in site.data.footer.social%}
            <a class="button" href="{{ item.link }}" target="_blank">
              <i class="fab {{ item.icon }}"></i>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="column has-text-centered has-text-right-tablet">
          <p class="subtitle is-6">
            <p class="copyright text-muted"><strong>{{ site.data.footer.copyright }}
              <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
              Creative Commons.</a> {{ site.title }} {{ site.time | date: '%Y' }}.</strong>
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>