@charset "utf-8";

.subtitle-blog{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;  
    color: white;
    letter-spacing: .5em;
  }
 
a{
    color: #00fff9;
    &:hover{
        color:hsl(0, 0%, 69%);
    }
}

strong{
    color: #f5f5f5;
}

