---
layout: default
---

<!-- Article -->
<article{% if site.addthisId == "" and site.disqusUsername == "" %} class="noBorder"{% endif %}>

	<!-- Article title -->
	<h1>{{ page.title }}</h1>

	<!-- Article date -->
	<span class="article__date">
		{% if site.lang == "pt-br" %}
			{% assign m = page.date | date: "%-m" %}
			{{ page.date | date: "%-d" }}
			{% case m %}
			{% when "1" %}JANEIRO
			{% when "2" %}FEVEREIRO
			{% when "3" %}MARÇO
			{% when "4" %}ABRIL
			{% when "5" %}MAIO
			{% when "6" %}JUNHO
			{% when "7" %}JULHO
			{% when "8" %}AGOSTO
			{% when "9" %}SETEMBRO
			{% when "10" %}OUTUBRO
			{% when "11" %}NOVEMBRO
			{% when "12" %}DEZEMBRO
			{% endcase %}
			{{ page.date | date: "%Y" }}
		{% else %}
			{{ page.date | date_to_long_string | upcase }}
		{% endif %}
	</span>

	<!-- Article description -->
	<section>{{ page.content }}</section>

</article><!-- article -->

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

	<!-- Addthis -->
	<div class="addthis_sharing_toolbox mt"></div>
	<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "" %}

	<!-- Full width -->
	<div class="full">

		<!-- Disqus -->
		<div id="disqus_thread" class="mt mb"></div>
		<script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

	</div><!-- .full -->

{% endif %}
