---
layout: default
---
<article>
  <header class="hero is-fullheight is-dark">
    <div class="hero-head">
      {%-include nav.html-%}
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1-desktop 
                        is-size-2-touch is-uppercase 
                        is-family-code">
          {{ page.title }}
        </h1>
        <h2 class="subtitle is-size-6-touch has-text-centered is-inline-flex glitch">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
        </h2>
      </div>
    </div>
  </header>
  <div class="section has-background-black">
    <div class="container">
      <div class="columns is-centered">
        <div class="column post has-text-light">
          {{ content }}
        </div>
      </div>
    </div>  
  </div>
  
  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}
</article>