---
layout: default
---
<!-- Search Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
					<!-- <form class="form-inline my-2 my-lg-0" action="/search.html" method="get">
						<label for="search-box"></label>
						<input class="form-control mr-sm-2"  id="search-box" type="search" name="query" placeholder="Search">
					 </form> -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>
